.bill-viewport {

  .body {
    display: flex;

    .bill-items {
      flex: 1;
      //padding: 0px 10px;
      display: flex;;
      flex-direction: column;

      .bill-item {
        border-bottom: solid 1px #f2f2f2;
        padding: 15px 10px;
        //display: flex;
        height: 60px;
        flex-direction: column;
        //border-style: dotted;

        &.c {
          $base-color-credit: #008000;
          color: lighten($base-color-credit, 12%);
          background-color: lighten($base-color-credit, 74%);
        }

        &.d {
          $base-color-debt: #ff0000;
          color: lighten($base-color-debt, 20%);
          background-color: lighten($base-color-debt, 49%);
        }

        // &:hover {
        //   background-color: #f2f2f2;
        // }

        .category {
          font-size: 11px;
          color: silver;
        }

        .item {
          display: flex;
          flex-direction: row;
          padding-left: 40px;

          .date {
            margin-right: 20px;
          }

          .description {
            justify-content: space-around;
            flex: 1
          }

          .type {
            width: 100px;
          }

          .value {
            width: 140px;
            text-align: right;
            padding-right: 40px;
          }

          .action-buttons {

            span {
              margin-right: 8px;
              color: gray;
              cursor: pointer;

              &:hover {

                &.fa-pencil {
                  color: #2196F3;
                }

                &.fa-times {
                  color: #ff4081;
                }
              }
            }
          }
        }

      }
    }
  }
}
