.budget-viewport {
  $budget-item-base-color: #e7f3fe;
  $budget-name-column-width: 285px;
  $budget-period-column-width: 170px;
  $budget-value-column-width: 90px;
  color: #666666;

  .body {
    //flex-direction: column !important;
    display: block !important;
    padding-top: 4px;
    font-family: arial,helvetica,tahoma;

    .column-headers {
      border-bottom: solid 1px lighten(#f2f2f2, 2);
      //border-bottom: solid 1px darken($budget-item-base-color, 4);
      padding-left: 25px;
      //font-weight: bold;
      font-size: 12px;
      display: flex;

      .column-header {
        color: #c0c0c0;

        &.budget-description {
          width: $budget-name-column-width;
        }

        &.budget-period {
          width: $budget-period-column-width;
          text-align: center;
        }

        &.budget-value {
          width: $budget-value-column-width;
          text-align: right;
        }

      }
    }

    .budget-item-container {
      //font-weight: bold;
      padding: 8px 25px;
      border-bottom: solid 1px darken($budget-item-base-color, 4);

      &:hover {
        background-color: lighten($budget-item-base-color, 3);
        color: #0d0d0d;
      }

      .budget-item {
        display: flex;
        flex-direction: row;
        font-size: 13px;

        .budget-description {
          width: $budget-name-column-width;

          .expand-button {
            cursor: pointer;
          }
        }

        .budget-period {
          width: $budget-period-column-width;
          text-align: center;
        }

        .budget-value{
          width: $budget-value-column-width;
          text-align: right;

          &.C {
            color: green;
          }

          &.D {
            color: red;
          }

        }

        .action-buttons {
          opacity: 0.4;
          flex: 1;
          justify-content: space-around;

          * {
            margin-left: 5px;
            cursor: pointer;
            float: right;
          }

          &:hover {
            opacity: 1;
          }

        }

      }

      .budget-detail-container {
        margin-top: 15px;
        padding-left: 20px;
        margin-left: 20px;
        margin-right: 140px;
        border-radius: 4px;
        font-size: 14px;

        .budget-detail-item {
          border: solid 1px #e6e6e6;
          margin-bottom: 2px;
          padding: 0px 15px;
          display: flex;
          align-items: center;
          border-radius: 3px;

          &.c {
            $base-color-credit: #339966;
            color: lighten($base-color-credit, 10%);
            background-color: lighten($base-color-credit, 57%);
          }

          &.d {
            $base-color-debt: #ff0000;
            color: lighten($base-color-debt, 25%);
            background-color: lighten($base-color-debt, 49%);
          }

          .budget-detail-field {
            display: inline-flex;

            &.description {
              width: 320px;
            }

            &.type {
              width: 40px;
            }

            &.value {
              width: 100px;
              align-items: flex-end;
              display: flex;
              flex-direction: column;
              margin-right: 45px;
            }
          }

          .action-buttons {
            display: inline-flex;
            margin-left: 10px;
            opacity: 0.4;

            * {
              margin-left: 10px;
              display: inline-flex;
              cursor: pointer;
            }

            &:hover {
              opacity: 1;
            }

          }
        }

        .budget-sum-items-container {
          width: 475px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .budget-sum-items {
            display: inline-block;
            float: right;

            .budget-sum-items-value {
              font-weight: bold;
              display: inline-block;
              margin-left: 10px;
            }
          }

          .budget-detail-no-items {
            height: 25px;
          }
        }

      }

    }

  }

}
