.budget-viewport {
  $budget-item-base-color: #e7f3fe;
  $budget-name-column-width: 380px;
  $budget-date-column-width: 170px;
  color: #666666;

  .body {
    //flex-direction: column !important;
    display: block !important;
    padding-top: 4px;

    .column-headers {
      border-bottom: solid 1px lighten(#f2f2f2, 2);
      padding-left: 25px;
      //font-weight: bold;
      font-size: 12px;
      display: flex;

      .column-header {
        color: #c0c0c0;

        &.budget-description {
          width: $budget-name-column-width;
        }

        &.budget-start-date {
          width: $budget-date-column-width;
        }

        &.budget-end-date {
          width: $budget-date-column-width;
        }

      }
    }

    .budget-item-container {
      //font-weight: bold;
      padding: 8px 25px;
      border-bottom: solid 1px darken($budget-item-base-color, 1);

      &:hover {
        background-color: lighten($budget-item-base-color, 3);
        color: #0d0d0d;
      }

      .budget-item {
        display: flex;
        flex-direction: row;

        .budget-start-date {
          width: $budget-date-column-width;
        }

        .budget-end-date {
          width: $budget-date-column-width;
        }

        .budget-description {
          width: $budget-name-column-width;

          .expand-button {
            cursor: pointer;
          }
        }

        .action-buttons {
          opacity: 0.4;
          flex: 1;
          justify-content: space-around;
          //border: solid 1px red;

          * {
            margin-left: 10px;
            cursor: pointer;
            float: right;
          }

          &:hover {
            opacity: 1;
          }

        }

      }

      .budget-detail-container {
        margin-top: 4px;
        padding-left: 20px;
        //border: solid 1px #e6e6e6;
        //background-color: #F7F7F7;
        margin-left: 20px;
        margin-right: 140px;
        //padding: 5px;
        border-radius: 4px;

        .budget-detail-item {
          border: solid 1px #e6e6e6;
          margin-bottom: 2px;
          padding: 2px 15px;
          display: flex;
          align-items: center;
          border-radius: 3px;

          &.c {
            $base-color-credit: #339966;
            color: lighten($base-color-credit, 10%);
            background-color: lighten($base-color-credit, 57%);
          }

          &.d {
            $base-color-debt: #ff0000;
            color: lighten($base-color-debt, 25%);
            background-color: lighten($base-color-debt, 49%);
          }

          .budget-detail-field {
            display: inline-flex;

            &.description {
              width: 320px;
            }

            &.type {
              width: 80px;
            }

            &.value {
              width: 120px;
              text-align: right;
            }
          }

          .action-buttons {
            display: inline-flex;
            margin-left: 10px;
            opacity: 0.4;

            * {
              margin-left: 10px;
              display: inline-flex;
              cursor: pointer;
            }

            &:hover {
              opacity: 1;
            }

          }
        }

        .budget-detail-no-items {
          height: 25px;
        }
      }

    }

  }

}
