.page-header-crud-viewport {

  .buttons {
    display: flex;
    flex-direction: row;

    .button {
      $base-color-category-link: #006699;
      align-items: center;
      display: inline-flex;
      cursor: pointer;
      margin-left: 3px;
      //padding: 4px 6px;
      border-radius: 3px;
      flex-direction: row;
      opacity: 0.6;
      padding: 3px 5px;
      background-color: lighten($base-color-category-link, 67%);
      border: solid 1px lighten($base-color-category-link, 52%);

      &:hover {
        background-color: lighten($base-color-category-link, 65%);
        border: solid 1px lighten($base-color-category-link, 45%);
        opacity: 1;
      }

      .button-text {
        margin-left: 4px;
      }

      // span {
      //   color: $base-color-category-link;
      //   font-size: 14px;
      // }
    }
  }

}
