.page-header-crud-viewport {

  .buttons {
    display: flex;
    flex-direction: row;

    .header-button {
      $base-color-category-link: #006699;
      align-items: center;
      display: inline-flex;
      cursor: pointer;
      padding: 4px 6px;
      border-radius: 3px;
      flex-direction: row;
      opacity: 0.6;

      &:hover {
        background-color: lighten($base-color-category-link, 65%);
        border: solid 1px lighten($base-color-category-link, 45%);
        padding: 3px 5px;
        opacity: 1;
      }

      span {
        color: $base-color-category-link;
        font-size: 14px;
      }
    }
  }

}
