.transaction-viewport {

  .header {
    flex-direction: row !important;

    .page-header-elements {
      display: inline-flex;
      align-items: center;
      justify-content: space-around;
      flex: 1;

      .page-header-content {
        justify-content: space-around;
        flex: 1;
        padding: 0px 10px;
        color: #737373;

        .label-budget {
          color: #737373;
        }

        .select-budget.Select {
          display: inline-flex;
          width: 280px;
          margin-left: 5px;

          .Select-control {
            background-color: darken(#F2F2F2, 1);
            border-color: darken(#F2F2F2, 5);
          }

          &.is-focused:not(.is-open) {
            .Select-control {
                border-color: darken(#F2F2F2, 6);
                box-shadow: 0px 0px 0px;
            }
          }
        }
      }

      .page-header-crud-viewport {

      }
    }

  }

  .body {
    display: flex;

    .budgets-and-transactions-items {
      flex: 1;
      display: flex;;
      flex-direction: column;
      padding: 7px 10px;

      .budget-item-container {
        $base-color-credit: #339966;
        $base-color-debt: #ff0000;

        border: solid 1px; // #dbe3f0; //#c9d5e8; //#f2f2f2;
        padding: 15px 15px 5px 15px;
        margin-top: 2px;
        margin-bottom : 6px;
        border-radius: 8px;

        &.is-unforecasted {
          border-width: 2px;

          &.c {
            border-color: lighten($base-color-credit, 36%);
          }

          &.d {
            border-color: lighten($base-color-debt, 37%);
          }

        }

        &.c {
          //color: lighten($base-color-credit, 10%);
          background-color: lighten($base-color-credit, 57%);
          border-color: lighten($base-color-credit, 50%);
        }

        &.d {
          //color: lighten($base-color-debt, 25%);
          background-color: lighten($base-color-debt, 46%);
          border-color: lighten($base-color-debt, 43%);
        }

        .transactions-items {
          margin-top: 8px;
          padding: 4px;

          &.with-budget {
            border-top: dotted 1px #c9d9e8;
          }
        }

        .budget-item {
          display: flex;
          flex-direction: column;
          color: #737373;

          &.is-unforecasted {
            margin-top: -15px;

            &:before {
              content: 'unforecasted';
              text-align: right;
              opacity: 0.6;
              font-size: 12px;
              margin-top: -7px;
            }

            &.c {
              color: #339966;
            }
            &.d {
              color: #ff8080;
            }
          }

          &.is-only-transaction-item {
            color: #4573a1 !important;
            border-bottom: dotted 1px #c9d9e8;

            .description {
              font-weight: normal !important;
            }
          }

          // &:hover {
          //   background-color: #f2f2f2;
          // }

          .transaction-items-fields {
            font-size: 12px;
            display: flex;
            flex-direction: row;
            // flex: 1;
            // justify-content: space-around;
            margin-bottom: 2px;
            align-items: center;
            //border: solid 1px green;

            .category {
              //color: #b3b3b3;
              //float: left;
              &:after {
                margin-left: 6px;
                margin-right: 6px;
                content: '»';
              }
             }

             .date {
               width: 120px;
               display: inline-block;
             }

            .description {
              display: inline-block;
              font-weight: bold;
              align-items: center;
              width: 300px;

              svg:not(:root) {
                margin-left: 8px;
                cursor: pointer;
                opacity: 0.4;
                &:hover {
                  opacity: 1;
                }

              }
            }

            .account {
              width: 150px;
              display: inline-block;
            }

            .value {
              text-align: right;
              width: 120px;
              display: inline-block;
            }

            .action-button-edit-transaction {
              display: inline-block;

              svg:not(:root) {
                margin-left: 40px;
                margin-bottom: 4px;
                cursor: pointer;
                opacity: 0.4;
                &:hover {
                  opacity: 1;
                }
              }
            }

            .action-button-delete-transaction {
              display: inline-block;

              svg:not(:root) {
                margin-top: -4px;
                margin-left: 15px;
                cursor: pointer;
                opacity: 0.4;
                &:hover {
                  opacity: 1;
                }
              }
            }

          }

          .comparative-chart-container {
            //width: 310px;
            display: flex;
            flex-direction: row;
            align-items: center;
            //margin-top: -20px;
            //border: solid 1px green;

            .comparative-chart-bar {
              width: 100%;
              display: flex;
              flex-direction: column;

              .comparative-chart-bar-item {
                height: 16px;
                margin-bottom: 3px;
                display: flex;
              }

              .comparative-chart-bar-estimated {
                $comparative-chart-bar-estimated-background-color: #D9E1EF;
                background-color: $comparative-chart-bar-estimated-background-color;
                border: solid 1px darken($comparative-chart-bar-estimated-background-color, 3);
              }

              .comparative-chart-bar-actual {
                $comparative-chart-bar-actual-background-color: #8BACCD;
                background-color: $comparative-chart-bar-actual-background-color;
                border: solid 1px darken($comparative-chart-bar-actual-background-color, 3);
              }

              .comparative-chart-bar-value {
                margin-left: 3px;
                font-size: 11px;
                color: #808080;
                align-self: center;
              }

            }
          }

        }  //budget-item

        .transaction-item {
          margin-top: 6px;
          border: dotted 1px #8BACCD;
          padding: 4px;
          color: #8BACCD;
          border-radius: 8px;
        } //transaction-item

      } //budget-item-container

    }
  }
}
