.transaction-viewport {

  .header {
    flex-direction: row !important;

    .page-header-elements {
      display: inline-flex;
      align-items: center;
      justify-content: space-around;
      flex: 1;

      .page-header-content {
        justify-content: space-around;
        flex: 1;
        padding: 0px 10px;
        color: #737373;

        .label-budget {
          color: #737373;
        }

        .select-budget.Select {
          display: inline-flex;
          width: 280px;
          margin-left: 5px;

          .Select-control {
            background-color: darken(#F2F2F2, 1);
            border-color: darken(#F2F2F2, 5);
          }

          &.is-focused:not(.is-open) {
            .Select-control {
                border-color: darken(#F2F2F2, 6);
                box-shadow: 0px 0px 0px;
            }
          }

          // &.is-focused:not(.is-open) {
          //   .Select-control {
          //       border-width: 0px;
          //   }
          // }
          //
          // // &:focus {
          // //   border-width: 0px !important;
          // // }
          //
          // .Select-control {
          //   background-color: darken(#F2F2F2, 3);
          //   border-color: darken(#F2F2F2, 6);
          // }
        }
      }

      .page-header-crud-viewport {

      }
    }

  }

  .body {
    display: flex;

    .transaction-items {
      flex: 1;
      //padding: 0px 10px;
      display: flex;;
      flex-direction: column;
      padding: 2px 4px;

      .transaction-item {
        border: solid 1px #dbe3f0; //#f2f2f2;
        padding: 10px 10px;
        margin-top: 3px;
        //display: flex;
        //height: 79px;
        flex-direction: column;
        //border-style: dotted;
        border-radius: 8px;

        &.c {
          $base-color-credit: #339966;
          //color: lighten($base-color-credit, 10%);
          background-color: lighten($base-color-credit, 57%);
        }

        &.d {
          $base-color-debt: #ff0000;
          //color: lighten($base-color-debt, 25%);
          background-color: lighten($base-color-debt, 49%);
        }

        // &:hover {
        //   background-color: #f2f2f2;
        // }

        .account {
          font-size: 12px;
          color: #b3b3b3;
          text-transform: uppercase;
          font-weight: bold;
        }

        .category {
          font-size: 11px;
          color: #b3b3b3;
          margin-left: 10px;
        }

        .item {
          display: flex;
          flex-direction: row;
          padding-left: 10px;
          margin-top: 2px;
          font-size: 11px;
          color: #4573a1;

          .budget-transactions-container {
            //border: solid 1px purple;
            display: flex;
            justify-content: space-around;
            flex: 1;
            flex-direction: column;

            .description-and-value {
              //border: solid 1px orange;
              margin-right: 20px;
              padding-right: 10px;
              display: flex;
              width: 400px;

              .date {
                width: 90px;
              }

              .description {
                font-weight: bold;
                justify-content: space-around;
                flex: 1
              }

              .value {
                width: 80px;
                text-align: right;
              }
            }
          }

          .comparative-chart-container {
            width: 310px;
            display: flex;
            flex-direction: row;
            align-items: center;

            .comparative-chart-bar {
              width: 310px;
              display: flex;
              flex-direction: column;

              .comparative-chart-bar-item {
                height: 16px;
                margin-bottom: 3px;
                display: flex;
              }

              .comparative-chart-bar-estimated {
                $comparative-chart-bar-estimated-background-color: #D9E1EF;
                width: 250px;
                background-color: $comparative-chart-bar-estimated-background-color;
                border: solid 1px darken($comparative-chart-bar-estimated-background-color, 3);
              }

              .comparative-chart-bar-actual {
                $comparative-chart-bar-actual-background-color: #8BACCD;
                width: 190px;
                background-color: $comparative-chart-bar-actual-background-color;
                border: solid 1px darken($comparative-chart-bar-actual-background-color, 3);
              }

              .comparative-chart-bar-value {
                margin-left: 3px;
                font-size: 11px;
                color: #808080;
                align-self: center;
              }

            }
          }

          .action-buttons {
            opacity: 0.4;
            width: 90px;
            margin-top: 2px;

            * {
              margin-left: 6px;
              cursor: pointer;
              float: right;
            }

            &:hover {
              opacity: 1;
            }

          }
        }

      }
    }
  }
}
