.category-viewport {

  .deni-react-treeview-container {
    padding: 10px 0;
    border: 0;
    flex: 1;
    justify-content: space-around;
    height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ededed;
      outline: 1px solid slategrey;
      border-radius: 10px;
    }


    .deni-react-treeview-item-container {
      .action-button {
        margin-left: 10px;

        &:nth-last-child(1) {
          margin-right: 25px !important;
        }
      }

    }

  }

}
