.trip-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .vehicle-container {
    //border: solid 1px green;
  }

  .trip-info-container {
    padding-left: 15px;
    //border: solid 1px red;
    display: flex;
    flex-direction: row;

    .arrival-time-label {
      color: #4CAF50;
      font-weight: bold;
      font-size: 16px;
    }

    .trip-time-separator {
      color: #455a64;
      margin: -2px 6px 0px 6px;
    }

    .departure-time-label {
      color: #ff5722;
      font-weight: bold;
      font-size: 16px;
    }
  }

}
