@import '../../styles/_base.scss';

// @font-face {
//     font-family: Roboto;
//     src: url(../../styles/fonts/Roboto/Roboto-Regular.ttf);
// }

.main-header {
  $base-color-header: $base-color;//#2D8306; //#1c61b0 //#4990E2;
  //background-color: $base-color-header;
  //border: solid 1px darken($base-color-header, 6%);
  //box-shadow: 0px 4px 10px #888888;
  //padding-top: 14px;
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 2;
  height: 60px;
  min-height: 60px;

////
border-top: 1px solid #fff!important;
border-bottom: 3px solid #3c80a6!important;
color: #777;
text-shadow: 0 1px 0 #fff;
-webkit-box-shadow: 0 0 5px rgba(0,0,0,.55)!important;
-moz-box-shadow: 0 0 5px rgba(0,0,0,.55)!important;
box-shadow: 0 0 5px rgba(0,0,0,.55)!important;
padding-left: 20px;
///

  .header-hamburger-menu {
    cursor: pointer;
  }

  .wplex-logo {
    margin-top: 9px;
    margin-left: 15px;
    width: 150px;
    height: 30px;
  }

  .trip-manager-logo {
    margin-top: -2px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
  }

  .trip-manager-title {
    font-size: 38px;
    margin-left: 20px;
    margin-top: -4px;
    //color: #006699;
    color: #52B748;
    font-family: Barlow;
    font-weight: bold;
  }

  .navigation {
    flex-direction: row;
    display: flex;
    display:none;

    a {
      text-decoration: none;
      display: block;
      padding: 8px 20px;
      color: #e6e6e6;

      &:hover {
        background: darken($base-color-header, 2%);
      }

      &.route-active {
        background: darken($base-color-header, 5%);
        border-left: solid 1px darken($base-color-header, 9%);
        border-top-left-radius: 4px;
        border-top: solid 1px darken($base-color-header, 9%);
        border-right: solid 1px darken($base-color-header, 9%);
        border-top-right-radius: 4px;
        border-bottom: solid 2px white;
        padding: 7px 19px;
        color: #ffffff;
      }
    }

  }

  // @media all and (max-width: 800px) {
  //   .navigation {
  //     justify-content: space-around;
  //   }
  // }
  //
  // @media all and (max-width: 600px) {
  //   .navigation {
  //     -webkit-flex-flow: column wrap;
  //     flex-flow: column wrap;
  //     padding: 0;
  //   }
  //
  //   .navigation a {
  //     text-align: center;
  //     padding: 10px;
  //     // border-top: 1px solid rgba(255,255,255,0.3);
  //     // border-bottom: 1px solid rgba(0,0,0,0.1);
  //   }
  //
  //
  //   .navigation li:last-of-type a {
  //     // border-bottom: none;
  //   }
  // }

}
