@import '../../styles/_base.scss';

.core-layout {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-around;

  .core-layout-viewport {
    background-color: $body-background-color;
    flex: 1;
    justify-content: space-around;
    display: flex;
    //overflow-y: auto;
  }

}
