.core-layout {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-around;

  .core-layout-viewport {
    background-color: #f0ffff;
    flex: 1;
    justify-content: space-around;
    display: flex;

    &> div {
      display: flex;
    }
  }

}
